################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FoodWeb/FileContentIndex/4920b28c-181f-4085-9e5c-a8a53c962269.vsidx
/.vs/FoodWeb/FileContentIndex/6858638a-606d-477c-95c3-e83a63f1152d.vsidx
/.vs/FoodWeb/FileContentIndex/76d45fd7-931b-41b1-b8e7-8f45c6b67183.vsidx
/.vs/FoodWeb/FileContentIndex/96ca1073-2343-42f5-910d-2893288f3100.vsidx
/.vs/FoodWeb/FileContentIndex/22cf9fc7-e767-46fe-bf9e-ed618b830575.vsidx
/.vs/FoodWeb/FileContentIndex/d5f5d666-1e5b-46da-b8ba-9c3b810e8fbc.vsidx
