
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main-container" class="main-container">
    <div class="row">
        <div class="col-12">
            <!-- Start Section Title -->
            <div class="section-content section-content--border m-b-35">
                <h5 class="section-content__title">Ack</h5>
            </div>  <!-- End Section Title -->
        </div>
    </div>
    <div class="about-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-img">
                        <div class="img-responsive">
                            <img src="~/Content/assets/img/hero/Nha-an-UIT-chinh.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-content">
                        <h4 class="font--regular">
                            UIT Cafeteria System, a cool new way to make ordering
                            food at the university cafeteria super easy! It's like having a magic wand for your meal choices.
                            With this system, you can use your phone or computer to check out what's cooking, place your order,
                            and pay without any hassle.
                            <br>
                            <br>

                            Moreover, Our team would like to thank you for the dedicate of #name1, #name2, name# and our team members to build this system.
                        </h4>
                        <p class="para__text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div> </div>
    <div class="row">
        <div class="col-12">
            <!-- Start Section Title -->
            <div class="section-content section-content--border m-b-35">
                <h5 class="section-content__title">Team members</h5>
            </div>  <!-- End Section Title -->
        </div>
    </div>


    <!-- ::::::  Start CMS Section  ::::::  -->
    <div class="cms m-t-100">
        <div class="container">
            <div class="row">
                <!-- Start Single CMS box -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cms__content">
                        <div class="cms__icon">
                            <img class="img-thumbnail" style="width:100%" src="~/Content/assets/img/memicon/icon-mem2.jpg" alt="Alternate Text" />

                        </div>
                        <div class="cms__text">
                            <h6 class="cms__title">21522330</h6>
                            <h6 class="cms__title">Pham Duc Manh</h6>
                        </div>
                    </div>
                </div> <!-- End Single CMS box -->
                <!-- Start Single CMS box -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cms__content">
                        <div class="cms__icon">
                            <img class="img-thumbnail" style="width:75%" src="~/Content/assets/img/memicon/icon-mem1.jpg" alt="Alternate Text" />
                        </div>
                        <div class="cms__text">
                            <h6 class="cms__title">21522508</h6>
                            <h6 class="cms__title">Dang Huu Quang</h6>

                        </div>
                    </div>
                </div> <!-- End Single CMS box -->
                <!-- Start Single CMS box -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cms__content">
                        <div class="cms__icon">
                            <img class="img-thumbnail" style="width:60%" src="~/Content/assets/img/memicon/icon-mem3.png" alt="Alternate Text" />

                        </div>
                        <div class="cms__text">
                            <h6 class="cms__title">21522444</h6>
                            <h6 class="cms__title">Ly Tan Phat</h6>
                        </div>
                    </div>
                </div> <!-- End Single CMS box -->
            </div>
        </div>
    </div> <!-- ::::::  End CMS Section  ::::::  -->
</main>

